In [1]:
import iris
import names
import numpy as np
from datetime import datetime
import psycopg2
import mysql.connector
import matplotlib.pyplot as plt
import random_address
from phone_gen import PhoneNumber
import oracledb

In [2]:
connection_string = "iris:1972/TEST"
username = "superuser"
password = "SYS"

connectionIRIS = iris.connect(connection_string, username, password)
cursorIRIS = connectionIRIS.cursor()
print("Connected")

Connected

In [3]:
connectionPostgres = psycopg2.connect(database="testuser",
                        host="postgres",
                        user="testuser",
                        password="testpassword",
                        port="5432")
cursorPostgres = connectionPostgres.cursor()
print("Connected")

Connected

In [4]:
connectionMySQL = mysql.connector.connect(
  host="mysql",
  user="testuser",
  password="testpassword"
)
cursorMySQL = connectionMySQL.cursor()
print("Connected")

Connected

In [5]:
connectionOracle = oracledb.connect(
    user="testuser",
    password="testpassword",
    dsn="oracle/testPDB")

cursorOracle = connectionOracle.cursor()
print("Connected")

Connected

In [6]:
phone_number = PhoneNumber("USA")
resultsIRIS = [0]
resultsPostgres = [0]
resultsMySQL = [0]
resultsOracle = [0]
parameters =  []
for x in range(1000):
    rng = np.random.default_rng()
    parameter = []
    parameter.append(names.get_first_name())
    parameter.append(names.get_last_name())
    parameter.append(str(rng.standard_normal(50)))
    parameter.append(phone_number.get_number())
    parameter.append(random_address.real_random_address_by_state('CA')['address1'])
    parameters.append(parameter)

print("Parameters built")

Parameters built

In [7]:
date_before = datetime.now()
    
cursorOracle.executemany("INSERT INTO patient (name, lastname, photo, phone, address) VALUES (:1,:2,:3,:4,:5)", parameters)
connectionOracle.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsOracle.append(difference.total_seconds())

0.077919

In [8]:
date_before = datetime.now()

cursorIRIS.executemany("INSERT INTO Test.Patient (Name, Lastname, Photo, Phone, Address) VALUES (?, ?, ?, ?, ?)", parameters)
connectionIRIS.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsIRIS.append(difference.total_seconds())

0.046034

In [9]:
date_before = datetime.now()
    
cursorPostgres.executemany("INSERT INTO test.patient (name, lastname, photo, phone, address) VALUES (%s,%s,%s,%s,%s)", parameters)
connectionPostgres.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsPostgres.append(difference.total_seconds())

0.107298

In [10]:
date_before = datetime.now()
    
cursorMySQL.executemany("INSERT INTO test.patient (name, lastname, photo, phone, address) VALUES (%s,%s,%s,%s,%s)", parameters)
connectionMySQL.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsMySQL.append(difference.total_seconds())

0.446469

In [11]:
for x in range(4000):
    rng = np.random.default_rng()
    parameter = []
    parameter.append(names.get_first_name())
    parameter.append(names.get_last_name())
    parameter.append(str(rng.standard_normal(50)))
    parameter.append(phone_number.get_number())
    parameter.append(random_address.real_random_address_by_state('CA')['address1'])
    parameters.append(parameter)

print("Parameters built")

Parameters built

In [12]:
date_before = datetime.now()
    
cursorOracle.executemany("INSERT INTO patient (name, lastname, photo, phone, address) VALUES (:1,:2,:3,:4,:5)", parameters)
connectionOracle.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsOracle.append(difference.total_seconds())

0.196463

In [13]:
date_before = datetime.now()

cursorIRIS.executemany("INSERT INTO Test.Patient (Name, Lastname, Photo, Phone, Address) VALUES (?, ?, ?, ?, ?)", parameters)
connectionIRIS.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsIRIS.append(difference.total_seconds())

0.141077

In [14]:
date_before = datetime.now()
    
cursorPostgres.executemany("INSERT INTO test.patient (name, lastname, photo, phone, address) VALUES (%s,%s,%s,%s,%s)", parameters)
connectionPostgres.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsPostgres.append(difference.total_seconds())

0.482486

In [15]:
date_before = datetime.now()
    
cursorMySQL.executemany("INSERT INTO test.patient (name, lastname, photo, phone, address) VALUES (%s,%s,%s,%s,%s)", parameters)
connectionMySQL.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsMySQL.append(difference.total_seconds())

0.174139

In [ ]:
for x in range(15000):
    rng = np.random.default_rng()
    parameter = []
    parameter.append(names.get_first_name())
    parameter.append(names.get_last_name())
    parameter.append(str(rng.standard_normal(50)))
    parameter.append(phone_number.get_number())
    parameter.append(random_address.real_random_address_by_state('CA')['address1'])
    parameters.append(parameter)

print("Parameters built")

In [ ]:
date_before = datetime.now()
    
cursorOracle.executemany("INSERT INTO patient (name, lastname, photo, phone, address) VALUES (:1,:2,:3,:4,:5)", parameters)
connectionOracle.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsOracle.append(difference.total_seconds())

In [ ]:
date_before = datetime.now()

cursorIRIS.executemany("INSERT INTO Test.Patient (Name, Lastname, Photo, Phone, Address) VALUES (?, ?, ?, ?, ?)", parameters)
connectionIRIS.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsIRIS.append(difference.total_seconds())

In [ ]:
date_before = datetime.now()
    
cursorPostgres.executemany("INSERT INTO test.patient (name, lastname, photo, phone, address) VALUES (%s,%s,%s,%s,%s)", parameters)
connectionPostgres.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsPostgres.append(difference.total_seconds())

In [ ]:
date_before = datetime.now()
    
cursorMySQL.executemany("INSERT INTO test.patient (name, lastname, photo, phone, address) VALUES (%s,%s,%s,%s,%s)", parameters)
connectionMySQL.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsMySQL.append(difference.total_seconds())

In [ ]:
for x in range(30000):
    rng = np.random.default_rng()
    parameter = []
    parameter.append(names.get_first_name())
    parameter.append(names.get_last_name())
    parameter.append(str(rng.standard_normal(50)))
    parameter.append(phone_number.get_number())
    parameter.append(random_address.real_random_address_by_state('CA')['address1'])
    parameters.append(parameter)

print("Parameters built")

In [ ]:
date_before = datetime.now()
    
cursorOracle.executemany("INSERT INTO patient (name, lastname, photo, phone, address) VALUES (:1,:2,:3,:4,:5)", parameters)
connectionOracle.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsOracle.append(difference.total_seconds())

In [ ]:
date_before = datetime.now()

cursorIRIS.executemany("INSERT INTO Test.Patient (Name, Lastname, Photo, Phone, Address) VALUES (?, ?, ?, ?, ?)", parameters)
connectionIRIS.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsIRIS.append(difference.total_seconds())

In [ ]:
date_before = datetime.now()
    
cursorPostgres.executemany("INSERT INTO test.patient (name, lastname, photo, phone, address) VALUES (%s,%s,%s,%s,%s)", parameters)
connectionPostgres.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsPostgres.append(difference.total_seconds())

In [ ]:
date_before = datetime.now()
    
cursorMySQL.executemany("INSERT INTO test.patient (name, lastname, photo, phone, address) VALUES (%s,%s,%s,%s,%s)", parameters)
connectionMySQL.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsMySQL.append(difference.total_seconds())

In [ ]:
connectionIRIS.close()
connectionPostgres.close()
connectionMySQL.close()
connectionOracle.close()

In [ ]:
x = [0, 1000,5000,20000,50000]
plt.plot(x, resultsIRIS, label = "IRIS")
plt.plot(x, resultsPostgres, label = "Postgres")
plt.plot(x, resultsMySQL, label = "MySQL")
plt.plot(x, resultsOracle, label = "Oracle")
plt.legend() 
plt.show()